@page "/"
@namespace Aggregator.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Health Dashboard</title>
    <base href="~/" />
</head>
<body>
    <component type="typeof(Aggregator.App)" render-mode="Server" />
    <script src="_framework/blazor.server.js"></script>
</body>
</html>